.panel.panel-primary
  .panel-heading
    h5.panel-title.visible-sm.visible-xs
      button.btn.btn-primary.btn-xs(href="",data-ng-click="queue.showList()")
        span.fa.fa-fw.fa-reply
      | &nbsp;{{vm.item.form.name}} ({{vm.item.handle}}) 
      status-label.pull-right(
        data-status="queue.friendlyStatus(vm.item)",
        data-active-statuses="queue.activeStatuses",
        data-inactive-statuses="queue.inactiveStatuses",
        data-cancelled-statuses="queue.cancelledStatuses")
    h5.panel-title.hidden-sm.hidden-xs 
      | &nbsp;{{vm.item.form.name}} ({{vm.item.handle}}) 
      status-label.pull-right(
        data-status="queue.friendlyStatus(vm.item)",
        data-active-statuses="queue.activeStatuses",
        data-inactive-statuses="queue.inactiveStatuses",
        data-cancelled-statuses="queue.cancelledStatuses")
  .panel-body
    .row
      .col-xs-12
        p {{vm.item.label}}
    .row
      .col-xs-12
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="vm.item.createdAt",time-ago-prefix="Created")
        a.label.label-default.pull-right(data-ng-if="vm.showQueueIcon()",data-ui-sref="queue.by.details.summary({itemId: vm.item.parent.id})") Parent Task
        a.label.label-default.pull-right(data-ng-if="vm.showRequestIcon()",href="{{vm.originLink()}}",target="_blank") Originating Request
    .row
      .col-xs-12
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="vm.item.updatedAt",time-ago-prefix="Updated")
    .row
      .col-xs-6
        span.fa.fa-fw.fa-clock-o
        | &nbsp;
        span(data-time-ago="queue.friendlyDueDate(vm.item)",data-ng-class="{'text-danger': queue.isOverdue(queue.friendlyDueDate(vm.item))}",data-time-ago-prefix="Due")
    .row
      .col-xs-12
        span.fa.fa-fw.fa-users
        span.ellipsis(data-ng-if="!vm.isAssigningTeam")
          | &nbsp;
          a(data-ng-if="details.isOpen(vm.item)",href="",data-ng-click="vm.startTeamAssignment()") {{queue.friendlyAssignedTeam(vm.item)}}
          span(data-ng-if="!details.isOpen(vm.item)") {{queue.friendlyAssignedTeam(vm.item)}}
        .selection(data-ng-if="vm.isAssigningTeam")
          a(href="",data-ng-click="vm.stopTeamAssignment()") Cancel
          input.form-control#team-selector(
            type="text",ng-model="selected",
            uib-typeahead="team.label for team in vm.allTeams | filter:$viewValue | limitTo:8",
            typeahead-min-length="0",
            typeahead-editable="false",
            typeahead-on-select="vm.teamSelected($item)",
            data-ng-disabled="vm.isLoading")
        | &gt;&nbsp;
        span.ellipsis(data-ng-if="!vm.isAssigningMember")
          a(data-ng-if="details.isOpen(vm.item)",href="",data-ng-click="vm.startMemberAssignment()") {{queue.friendlyAssignedName(vm.item)}}
          span(data-ng-if="!details.isOpen(vm.item)") {{queue.friendlyAssignedName(vm.item)}}
        .selection(data-ng-if="vm.isAssigningMember")
          a(href="",data-ng-click="vm.stopMemberAssignment()") Cancel
          input.form-control#member-selector(
            type="text",
            data-ng-model="selected",
            uib-typeahead="member.displayName for member in vm.membersForTeam | filter: $viewValue | limitTo:8",
            typeahead-min-length="0",
            typeahead-editable="false",
            typeahead-on-select="vm.memberSelected($item)",
            data-ng-disabled="vm.isLoading")
    .row
      .col-xs-12(data-ng-if="vm.notes.length > 0")
        span.fa.fa-fw.fa-comment-o
        a(href="",data-ng-click="vm.toggleNotes()")
          | &nbsp;Notes ({{vm.notes.length}})
          span.fa.fa-fw(data-ng-class="{'fa-caret-right': !vm.showNotes, 'fa-caret-down': vm.showNotes}")
        .row.row-note(data-ng-if="vm.showNotes",data-ng-repeat="note in vm.notes | orderBy:'-updatedAt'")
          .col-xs-1
            gravatar.center-block.img-circle(email="{{note.createdBy}}",width="30",height="30")
          .col-xs-11
            .row
              .col-xs-12
                span
                  strong {{note.submittedBy}}&nbsp;
                span(data-time-ago="note.createdAt",time-ago-prefix="-")
            .row
              .col-xs-12
                | {{queue.friendlySummary(note)}}
          //.row
            .col-xs-6
              | {{note.submittedBy}}
            .col-xs-6
              span(data-time-ago="note.createdAt",time-ago-prefix="Posted")
          //.row
            .col-xs-12
              | {{queue.friendlySummary(note)}}
    .row(data-ng-if="queue.friendlySummary(vm.item) !== vm.item.label")
      .col-xs-12
        .well-details {{queue.friendlySummary(vm.item)}}
    .row(data-ng-if="queue.hasDetails(vm.item)")
      .col-xs-12
        .well.well-details {{queue.friendlyDetails(vm.item)}}
    .row(data-ng-if="queue.hasCompleted(vm.item) && !details.isOpen()")
      .col-xs-12
        h5.item-header Resolution
        .well.well-details {{queue.friendlyCompleted(vm.item)}}
    .row(data-ng-if="queue.hasPendingReason(vm.item) && details.isOpen()")
      .col-xs-12
        h5.item-header Pending Reason
        .well.well-details {{queue.friendlyPendingReason(vm.item)}}
    .row.row-cards(data-ng-if="queue.hasDiscussion(vm.item) && !vm.isStartingDiscussion")
      .col-xs-12
        h5.item-header Discussion
        response-server(base="vm.discussionServer", watch-issue="vm.item.values['Discussion Id']", embed-base="vm.embedBase")
          issue-summary(summary-issue="$parent.response.issue", current-user="$parent.response.currentUser", no-title="true", no-participants="true")
    .row(data-ng-if="!details.isMine() && details.isOpen()")
      .col-xs-6(data-ng-if="queue.canDiscuss(vm.item)")
        button.btn.btn-primary.btn-block(type="button",data-ng-if="queue.hasDiscussion(vm.item)",data-ui-sref="queue.by.details.discuss") Join It
        button.btn.btn-primary.btn-block(type="button",data-ng-if="!queue.hasDiscussion(vm.item)",data-ng-click="vm.startNewDiscussion()") Discuss It
      div(data-ng-class="{'col-xs-6': queue.canDiscuss(vm.item), 'col-xs-12': !queue.canDiscuss(vm.item)}")
        button.btn.btn-primary.btn-block(data-ng-click="vm.grabIt($event)") Grab It
    .row
      .col-xs-12
        div(data-ui-view="")
    .row(data-ng-if="details.isMine() && details.isOpen()" style="margin-top:1rem;")

      div(data-ng-if="queue.canDiscuss(vm.item)",data-ng-class="{'col-xs-5': (details.canHaveSubtasks() && details.isOpen()), 'col-xs-6': (!details.canHaveSubtasks() || !details.isOpen())}")
        button.btn.btn-tertiary.btn-block(type="button",data-ng-disabled="vm.inSubtask() || vm.inWorkOrReview()",data-ng-if="queue.hasDiscussion(vm.item)",data-ui-sref="queue.by.details.discuss") Join It
        button.btn.btn-tertiary.btn-block(type="button",data-ng-disabled="vm.inSubtask() || vm.inWorkOrReview()",data-ng-if="!queue.hasDiscussion(vm.item)",data-ng-click="vm.startNewDiscussion()") Discuss It
      div(data-ng-class="{'col-xs-5': (details.canHaveSubtasks() && details.isOpen() && queue.canDiscuss(vm.item)), 'col-xs-6': (!details.canHaveSubtasks() || !details.isOpen()) && queue.canDiscuss(vm.item), 'col-xs-12': !queue.canDiscuss(vm.item) && (!details.canHaveSubtasks() || !details.isOpen()), 'col-xs-10': details.canHaveSubtasks() && details.isOpen() && !queue.canDiscuss(vm.item)}")
        button.btn.btn-tertiary.btn-block(data-ng-disabled="vm.inSubtask() || vm.inWorkOrReview()",data-ui-sref="queue.by.details.summary.work")
          div(data-ng-if="details.isMine() && details.isOpen()") Work It
      .col-xs-2(data-ng-if="details.isOpen() && details.canHaveSubtasks()")
        div(uib-dropdown="")
          button.btn.btn-warning.btn-block.dropdown-toggle#subtasks(type="button",data-ng-disabled="vm.inSubtask() || vm.inWorkOrReview()",uib-dropdown-toggle="")
            span.hidden-xs Add&nbsp;
            span.hidden-xs.caret
            span.visible-xs
              span.fa.fa-fw.fa-plus
          ul.dropdown-menu.dropdown-menu-right.dropdown-mobile(uib-dropdown-menu="",role="menu",aria-labelledby="subtasks")
            li(role="menuitem",data-ng-repeat="task in vm.subtasks")
              a(data-ui-sref="queue.by.details.summary.task({subtaskSlug: task.slug})") {{task.name}}
    .row(data-ng-if="!details.isOpen()")
      .col-xs-6(data-ng-if="queue.hasDiscussion(vm.item)")
        button.btn.btn-tertiary.btn-block(type="button",data-ui-sref="queue.by.details.discuss") Join It
      div(data-ng-class="{'col-xs-6': queue.hasDiscussion(vm.item), 'col-xs-12': !queue.hasDiscussion(vm.item)}")
        button.btn.btn-tertiary.btn-block(data-ng-disabled="vm.inSubtask() || vm.inWorkOrReview()",data-ui-sref="queue.by.details.summary.work") Review It


.row.row-cards(data-ng-if="vm.relatedItems.length > 0")
  .col-xs-12
    h5.item-header Related Items
    .row(data-ng-repeat="child in vm.relatedItems | orderBy:'-updatedAt'")
      .col-xs-12
        .panel.panel-card
          queue-card(data-queue-item="child", data-discussion-server="vm.discussionServer")
