div
  div(data-ng-if="isDiscussion()", style="margin: 1em;")
    discussion-server(base="discussionServer", watch-issue="queueItem.values['Discussion GUID']")
      issue-summary(summary-issue="$parent.discussion.issue", current-user="$parent.discussion.currentUser")
  div(data-ng-if="!isDiscussion()",data-ui-sref="queue.by.details.summary({itemId: queueItem.id})")
    h5
      strong {{queueItem.form.name}} ({{queueItem.handle}})&nbsp;
      status-label.pull-right(
        data-ng-if="!isSummary()",
        data-status="queue.friendlyStatus(queueItem)",
        data-active-statuses="queue.activeStatuses",
        data-inactive-statuses="queue.inactiveStatuses",
        data-cancelled-statuses="queue.cancelledStatuses")
    .row
      .col-xs-12
        p {{queueItem.label}}
    //- Person info for small list views
    .row
      .col-xs-12(data-uib-tooltip="{{queue.friendlyAssignedTeam(queueItem)}} > {{queue.friendlyAssignedName(queueItem)}}")
        .ellipsis
          span.fa.fa-fw.fa-users
          | &nbsp;{{queue.friendlyAssignedTeam(queueItem)}} > {{queue.friendlyAssignedName(queueItem)}}
    .row(data-ng-if="!isSummary()")
      .col-xs-12
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-ng-if="dateDisplay !== 'due' && dateDisplay !== 'created'",data-time-ago="queueItem.updatedAt",time-ago-prefix="Updated")
        span(data-ng-if="dateDisplay === 'created'",data-time-ago="queueItem.createdAt",time-ago-prefix="Created")
        span(data-ng-if="dateDisplay === 'due'",data-time-ago="queueItem.values['Due Date']",time-ago-prefix="Due")
    .row(data-ng-if="queue.hasCompleted(queueItem) && !isListView() && !details.isOpen()")
      .col-xs-12
        h5.item-header Resolution
        .well.well-details {{queue.friendlyCompleted(queueItem)}}
