.panel.panel-primary
  .panel-heading
    h5.panel-title {{vm.item.label}} 
      button.pull-right.btn.btn-xs.btn-primary(data-ng-if="vm.item.parent !== null && vm.item.id !== vm.item.parent.id",data-ui-sref="queue.by.details.summary({itemId: vm.item.parent.id})") To Parent
      span.fa.fa-fw.fa-spin.fa-circle-o-notch.pull-right(data-ng-if="vm.isLoading")
  .panel-body
    .row
      .col-xs-6
        span.fa.fa-fw.fa-flag
        | &nbsp;{{queue.friendlyStatus(vm.item)}}
      .col-xs-6
        .ellipsis(data-ng-if="!vm.isAssigningGroup")
          span.fa.fa-fw.fa-users
          | &nbsp;
          a(data-ng-if="details.isOpen(vm.item)",href="",data-ng-click="vm.startGroupAssignment()") {{queue.friendlyAssignedGroup(vm.item)}}
          span(data-ng-if="!details.isOpen(vm.item)") {{queue.friendlyAssignedGroup(vm.item)}}
        .selection(data-ng-if="vm.isAssigningGroup")
          a(href="",data-ng-click="vm.stopGroupAssignment()") Cancel
          input.form-control#group-selector(
            type="text",ng-model="selected",
            uib-typeahead="group.label for group in vm.allGroups | filter:$viewValue | limitTo:8",
            typeahead-min-length="0",
            typeahead-editable="false",
            typeahead-on-select="vm.groupSelected($item)",
            data-ng-disabled="vm.isLoading")
    .row
      .col-xs-6
        span.fa.fa-fw.fa-clock-o
        | &nbsp;
        span(data-time-ago="queue.friendlyDueDate(vm.item)",data-ng-class="{'text-danger': queue.isOverdue(queue.friendlyDueDate(vm.item))}")
      .col-xs-6
        .ellipsis(data-ng-if="!vm.isAssigningMember")
          span.fa.fa-fw.fa-user
          | &nbsp;
          a(data-ng-if="details.isOpen(vm.item)",href="",data-ng-click="vm.startMemberAssignment()") {{queue.friendlyAssignedName(vm.item)}}
          span(data-ng-if="!details.isOpen(vm.item)") {{queue.friendlyAssignedName(vm.item)}}
        .selection(data-ng-if="vm.isAssigningMember")
          a(href="",data-ng-click="vm.stopMemberAssignment()") Cancel
          input.form-control#member-selector(
            type="text",
            data-ng-model="selected",
            uib-typeahead="member for member in vm.membersForGroup | filter: $viewValue | limitTo:8",
            typeahead-min-length="0",
            typeahead-editable="false",
            typeahead-on-select="vm.memberSelected($item)",
            data-ng-disabled="vm.isLoading")
    .row
      .col-xs-6
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="vm.item.createdAt",time-ago-prefix="Created")
      .col-xs-6
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="vm.item.updatedAt",time-ago-prefix="Updated")
    .row(data-ng-if="queue.hasDetails(vm.item)")
      .col-xs-12
        .well.well-details {{queue.friendlyDetails(vm.item)}}
.row(data-ng-if="details.isMine()")
  div(data-ng-class="{'col-xs-6': details.isOpen(), 'col-xs-12': !details.isOpen()}")
    button.btn.btn-primary.btn-block(data-ui-sref="queue.by.details.summary.work")
      div(data-ng-if="!details.isOpen()") Review It
      div(data-ng-if="details.isOpen()") Work It
  .col-xs-6
    button.btn.btn-warning.btn-block(data-ng-if="details.isOpen() && details.canHaveSubtasks()",data-ui-sref="queue.by.details.summary.task") Add Task
//.row(data-ng-if="details.isMine()")
  div(data-ng-class="{'col-xs-6': details.isOpen(), 'col-xs-12': !details.isOpen()}")
    button.btn.btn-primary.btn-block(data-ng-click="vm.toggleWorkingIt()")
      div(data-ng-if="vm.workingIt && details.isOpen()") Stop Working It
      div(data-ng-if="vm.workingIt && !details.isOpen()") Stop Reviewing It
      div(data-ng-if="!vm.workingIt && !details.isOpen()") Review It
      div(data-ng-if="!vm.workingIt && details.isOpen()") Work It
  .col-xs-6
    button.btn.btn-warning.btn-block(data-ng-if="details.isOpen() && details.canHaveSubtasks()",data-ng-click="vm.toggleAddingSubtask()") 
      span(data-ng-if="!vm.addingSubtask") Add Task
      span(data-ng-if="vm.addingSubtask") Cancel Adding Task
.row(data-ng-if="!details.isMine()")
  .col-xs-12
    button.btn.btn-primary.btn-block(data-ng-click="vm.grabIt()") Grab It
.row(data-ng-if="vm.workingIt")
  .col-xs-12
    .panel.panel-primary.row-cards
      .panel-body
        div(data-ng-if="!details.isMine()")
          h4 Current {{queue.queueType}} is not assigned to you.
          a.btn.btn-block.btn-primary(data-ng-click="details.grabIt()") Grab It
        #workContainer
.row
  .col-xs-12
    div(data-ui-view="")
.row(data-ng-if="vm.addingSubtask")
  .col-xs-12
    .panel.panel-primary.row-cards
      .panel-body
        script(type="text/ng-template" id="subtask-template.html")
          a
            div(ng-bind-html="match.label | uibTypeaheadHighlight:query")
            small(data-ng-if="match.model.description") {{match.model.description}}
        div(data-ng-if="!vm.selectedSubtask")
          label(for="task-selector") Select Task:
          input.form-control#task-selector(
            type="text",
            data-ng-model="selected",
            uib-typeahead="task.name for task in vm.subtasks | filter: $viewValue | limitTo:8",
            typeahead-min-length="0",
            typeahead-editable="false",
            typeahead-on-select="vm.selectSubtask($item)",
            typeahead-template-url="subtask-template.html"
            )
        #subtaskContainer
.row.row-cards
  .col-xs-12
    .row(data-ng-repeat="child in vm.item.children",data-ui-sref="queue.by.details.summary({itemId: child.id})")
      .col-xs-12
        .panel.panel-card
          h5 {{child.label}}
          .row
            .col-xs-6
              span.fa.fa-fw.fa-flag
              | &nbsp;{{queue.friendlyStatus(child)}}
            .col-xs-6
              .ellipsis
                span.fa.fa-fw.fa-users
                | &nbsp;{{queue.friendlyAssignedGroup(child)}}
          .row
            .col-xs-6
              span.fa.fa-fw.fa-calendar
              | &nbsp;
              span(data-time-ago="queue.friendlyDueDate(child)",data-ng-class="{'text-danger': queue.isOverdue(queue.friendlyDueDate(child))}")
            .col-xs-6
              .ellipsis
                span.fa.fa-fw.fa-user
                | &nbsp;{{queue.friendlyAssignedName(child)}}
          .row
            .col-xs-12
              p.well-details {{queue.friendlySummary(child)}}