.panel.panel-primary
  .panel-heading
    h5.panel-title.visible-sm.visible-xs 
      button.btn.btn-primary.btn-xs(href="",data-ng-click="list.showList()")
        span.fa.fa-fw.fa-reply
      | &nbsp;{{vm.item.label}} 
      span.pull-right ({{queue.friendlyStatus(vm.item)}})
    h5.panel-title.hidden-sm.hidden-xs 
      | &nbsp;{{vm.item.label}} 
      span.pull-right ({{queue.friendlyStatus(vm.item)}})
  .panel-body
    .row
      .col-xs-12
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="vm.item.createdAt",time-ago-prefix="Created")
        a.btn.btn-xs.btn-default.pull-right(data-ng-if="vm.showQueueIcon()",data-ui-sref="queue.by.details.summary({itemId: vm.item.parent.id})") Q
        a.btn.btn-xs.btn-default.pull-right(data-ng-if="vm.showRequestIcon()",href="{{vm.originLink()}}",target="_blank") K
    .row
      .col-xs-12
        span.fa.fa-fw.fa-calendar
        | &nbsp;
        span(data-time-ago="vm.item.updatedAt",time-ago-prefix="Updated")
    .row
      .col-xs-6
        span.fa.fa-fw.fa-clock-o
        | &nbsp;
        span(data-time-ago="queue.friendlyDueDate(vm.item)",data-ng-class="{'text-danger': queue.isOverdue(queue.friendlyDueDate(vm.item))}")
    .row
      .col-xs-12
        span.fa.fa-fw.fa-users
        span.ellipsis(data-ng-if="!vm.isAssigningGroup")
          | &nbsp;
          a(data-ng-if="details.isOpen(vm.item)",href="",data-ng-click="vm.startGroupAssignment()") {{queue.friendlyAssignedGroup(vm.item)}}
          span(data-ng-if="!details.isOpen(vm.item)") {{queue.friendlyAssignedGroup(vm.item)}}
        .selection(data-ng-if="vm.isAssigningGroup")
          a(href="",data-ng-click="vm.stopGroupAssignment()") Cancel
          input.form-control#group-selector(
            type="text",ng-model="selected",
            uib-typeahead="group.label for group in vm.allGroups | filter:$viewValue | limitTo:8",
            typeahead-min-length="0",
            typeahead-editable="false",
            typeahead-on-select="vm.groupSelected($item)",
            data-ng-disabled="vm.isLoading")
        | &gt;&nbsp;
        span.ellipsis(data-ng-if="!vm.isAssigningMember")
          a(data-ng-if="details.isOpen(vm.item)",href="",data-ng-click="vm.startMemberAssignment()") {{queue.friendlyAssignedName(vm.item)}}
          span(data-ng-if="!details.isOpen(vm.item)") {{queue.friendlyAssignedName(vm.item)}}
        .selection(data-ng-if="vm.isAssigningMember")
          a(href="",data-ng-click="vm.stopMemberAssignment()") Cancel
          input.form-control#member-selector(
            type="text",
            data-ng-model="selected",
            uib-typeahead="member || 'Unassign' for member in vm.membersForGroup | filter: $viewValue | limitTo:8",
            typeahead-min-length="0",
            typeahead-editable="false",
            typeahead-on-select="vm.memberSelected($item)",
            data-ng-disabled="vm.isLoading")
    .row
      .col-xs-12(data-ng-if="vm.notes.length > 0")
        span.fa.fa-fw.fa-comment-o
        a(href="",data-ng-click="vm.toggleNotes()")
          | &nbsp;Notes ({{vm.notes.length}})
          span.fa.fa-fw(data-ng-class="{'fa-caret-right': !vm.showNotes, 'fa-caret-down': vm.showNotes}")
        .row.row-note(data-ng-if="vm.showNotes",data-ng-repeat="note in vm.notes | orderBy:'-updatedAt'")
          .col-xs-1
            gravatar.center-block.img-circle(email="{{note.createdBy}}",width="30",height="30")
          .col-xs-11
            .row
              .col-xs-12
                span {{note.submittedBy}} -
                span(data-time-ago="note.createdAt",time-ago-prefix="posted") 
            .row
              .col-xs-12
                | {{queue.friendlySummary(note)}}
          //.row
            .col-xs-6
              | {{note.submittedBy}}
            .col-xs-6
              span(data-time-ago="note.createdAt",time-ago-prefix="Posted")
          //.row
            .col-xs-12
              | {{queue.friendlySummary(note)}}
    .row
      .col-xs-12
        .well-details {{queue.friendlySummary(vm.item)}}
    .row(data-ng-if="queue.hasDetails(vm.item)")
      .col-xs-12
        .well.well-details {{queue.friendlyDetails(vm.item)}}
    .row(data-ng-if="queue.hasCompleted(vm.item) && !details.isOpen()")
      .col-xs-12
        h5.item-header Resolution
        .well.well-details {{queue.friendlyCompleted(vm.item)}}
    .row(data-ng-if="!details.isMine() && details.isOpen()")
      .col-xs-12
        button.btn.btn-primary.btn-block(data-ng-click="vm.grabIt()") Grab It
    .row
      .col-xs-12
        div(data-ui-view="")
    .row(data-ng-if="details.isMine()")
      div(data-ng-class="{'col-xs-9': (details.canHaveSubtasks() && details.isOpen()), 'col-xs-12': (!details.canHaveSubtasks() || !details.isOpen())}")
        button.btn.btn-primary.btn-block(data-ng-disabled="vm.inSubtask() || vm.inWorkOrReview()",data-ui-sref="queue.by.details.summary.work")
          div(data-ng-if="!details.isOpen()") Review It
          div(data-ng-if="details.isOpen()") Work It
      .col-xs-3(data-ng-if="details.isOpen() && details.canHaveSubtasks()")
        div(uib-dropdown="")
          button.btn.btn-warning.btn-block.dropdown-toggle#subtasks(type="button",data-ng-disabled="vm.inSubtask() || vm.inWorkOrReview()",uib-dropdown-toggle="") 
            | Add&nbsp;
            span.caret
          ul.dropdown-menu.dropdown-menu-right.dropdown-mobile(uib-dropdown-menu="",role="menu",aria-labelledby="subtasks")
            li(role="menuitem",data-ng-repeat="task in vm.subtasks")
              a(data-ui-sref="queue.by.details.summary.task({subtaskSlug: task.slug})") {{task.name}}
.row.row-cards(data-ng-if="vm.relatedItems.length > 0")
  .col-xs-12
    h5.item-header Related Items
    .row(data-ng-repeat="child in vm.relatedItems | orderBy:'-updatedAt'",data-ui-sref="queue.by.details.summary({itemId: child.id})")
      .col-xs-12
        .panel.panel-card
          queue-card(data-queue-item="child")
